# Disable Axon server for auto fallback to find JPA
axon:
  axonserver:
    enabled: false
  #
  serializer:
    general: jackson
    events: jackson
    messages: jackson

server:
  port: 20261
spring:
  application:
    name: customer
  datasource:
    url: jdbc:postgresql://localhost:16851/db_customer
    driver-class-name: org.postgresql.Driver
    username: itpusr
    password: itp@168
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql:  false
  profiles:
    active: dev
  config:
    import: optional:configserver:http://localhost:8888

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9090
